@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../../public/fonts/JetBrainsMono-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 800;
    font-style: italic;
}
