@use 'sass:color';

@use 'variables' as v;

$gradient-end: color.adjust(v.$color-space-indigo, $lightness: 60%);

:host {
    background: linear-gradient(var(--ngxb-color-background), var(--ngxb-color-background), #{$gradient-end});
    
    img {
        height: 40vh;
        max-width: 100vw;
    }

    #fof {
        color: var(--ngxb-color-negative);
    }
}
