@use 'variables' as v;

:host {
    background: linear-gradient(135deg, v.$color-space-indigo, v.$color-dusty-grape);
    color: v.$color-white;
    display: block;
    min-height: 100vh;

    $gutter: v.$unit-2x;

    header {
        background-color: transparent;
        box-shadow: none;
        transition:
            background-color ease-in-out .2s,
            box-shadow ease-in-out .2s;

        &.scrolling {
            background-color: v.$color-space-indigo;
            box-shadow: 0 v.$unit-half v.$unit-half 0 rgba($color: v.$color-dusty-grape, $alpha: .75);
        }

        .container {
            padding: $gutter;

            img {
                height: v.$unit-4x;
            }

            span {
                display: inline-block;
                font-size: v.$unit-2x;
            }

            button {
                --ngxb-button-color-subtle: transparent;
                --ngxb-button-color-subtle-hover: #{rgba(v.$color-white, $alpha: .1)};
                --ngxb-button-color-subtle-active: #{rgba(v.$color-white, $alpha: .2)};
                --ngxb-button-color-on-subtle: v.$color-white;

                border: none;
                border-radius: v.$unit-half;
            }
        }
    }

    main {
        display: grid;
        gap: $gutter;
        // For own knowledge:
        // - repeat - iterates a track pattern across the grid container, creating as many tracks as will fit
        //   - auto-fill - preserves empty tracks, leaving unfilled space at the end of the row
        //   - auto-fit - collapses empty tracks, allowing columns to stretch and fill the entire row (can be used instead of auto-fill)
        // - minmax - sets a flexible range for each column
        //   - minimum (12vmax) - the column will never shrink smaller than 12vmax (12% of the smaller viewport dimension)
        //   - maximum (1fr) - if there is extra space remaining in the row, the columns will stretch equally to split that space (1 fraction of the remaining space)
        grid-template-columns: repeat(auto-fill, minmax(12vmax, 1fr));
        padding-top: v.$unit-8x;
        padding-right: $gutter;
        padding-bottom: $gutter;
        padding-left: $gutter;

        .game {
            background-color: rgba(v.$color-white, $alpha: .2);
            border-radius: v.$unit-half;
            color: v.$color-white;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-decoration: none;

            &:hover {
                outline-color: var(--ngxb-color-focus-outline);
                outline-offset: v.$unit-eighth;
                outline-style: solid;
                outline-width: v.$unit-eighth;
            }

            h3 {
                margin-bottom: 0;
                padding: v.$unit;
            }

            .game-content {
                aspect-ratio: 1/1;
                width: 100%;

                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}
