:host {
    background: linear-gradient(135deg, #1a183f, #756aab);
    color: #fff;
    display: block;
    min-height: 100vh;

    header {
        background: transparent;

        img {
            height: calc(var(--ngxb-unit) * 4);
        }

        span {
            display: inline-block;
            font-size: calc(var(--ngxb-unit) * 2);
        }

        button {
            --ngxb-button-color-subtle: transparent;
            --ngxb-button-color-subtle-hover: #{rgba(#fff, $alpha: .1)};
            --ngxb-button-color-subtle-active: #{rgba(#fff, $alpha: .2)};
            --ngxb-button-color-on-subtle: #fff;

            border: none;
            border-radius: calc(var(--ngxb-unit) / 2);
        }
    }

    main {
        display: grid;
        gap: var(--ngxb-unit);
        grid-template-columns: repeat(4, 1fr);
        padding-top: calc(var(--ngxb-unit) * 6);
        padding-right: var(--ngxb-unit);
        padding-bottom: var(--ngxb-unit);
        padding-left: var(--ngxb-unit);

        .game {
            background: rgba(#fff, $alpha: .15);
            border-radius: calc(var(--ngxb-unit) / 2);
            height: 20vh;
            padding: var(--ngxb-unit);
        }
    }
}
