@use 'sass:color';

@use 'fonts';
@use 'variables' as v;

@use '@austinkurtti/ngx-burst' as ngxb;

@include ngxb.theme((
    'color-primary': v.$color-space-indigo,
    'color-primary-hover': color.adjust(v.$color-space-indigo, $lightness: 10%),
    'color-primary-active': color.adjust(v.$color-space-indigo, $lightness: 20%),
    'color-on-primary': v.$color-white
));
@include ngxb.reset();

@include ngxb.button-theme();

body {
    font-family: JetBrains Mono, monospace, system-ui, sans-serif;

    .full-page {
        display: block;
        height: 100vh;
        width: 100vw;
    }
}
